<html>
  <head>
      <title>Django Girl's blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Django Girl's Blog</a></h1>
    </div>
    <div>
      <p>published: 14. 06. 2014, 12:14</p>
      <h2><a href="">My first post</a></h2>
      <p> akdflajl dlfl dljfldjlj dljfldjf djfdjlajdfljlfajl dfljdlfjldfl  djfldjlfjlsdjaljfldjflj ldjfljdljflalsjdhewopjcvlv</p>
    </div>
    <div>
      <p>published: 14. 07. 2014, 12:14</p>
      <h2><a href="">My second post</a></h2>
      <p> akd dgpa[ gpdjpfpp pdpfpapdf  ppd pppp ewhfha[[ djfpjj]]] </p>
  </body>
</html>
